main {
   height: 70vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  transition: all 0.3s;
}

li:hover {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.288);
  transition: all 0.3s;
}

img {
  width: 250px;
  height: 200px;
}

p {
  margin-top: 10px;
}

a {
  text-decoration: none;
  text-align:center;
}

.back_to_all {
   display: block;
   color: black;
}

.back_to_all:hover{
   color: blue;
}

.details_btn {
   margin:15px;
}

.edit_del_btns{
  width: 100%;
  display: flex;
  justify-content: space-around;
}