<button mat-raised-button>
  <a routerLink="/" class="back_to_all">Back to All categories</a>
</button>
<main>
  <ng-container *ngIf="dishes$ | async as dishes; else noDishes">
    <ul *ngIf="dishes.length > 0; else noDishes">
      <li *ngFor="let dish of dishes; trackBy: trackByDishes">
        <img [src]="dish.image" [alt]="dish.name" />
        <p>{{ dish.name }}</p>
        <p>Price: {{ dish.price }} $</p>
        <button mat-raised-button class="details_btn" (click)="openDialog(dish)">
          Details
        </button>
        <div class="edit_del_btns" *ngIf="authorizedUser$ | async">
          <button mat-raised-button>Delete</button>
          <button mat-raised-button>Edit</button>
        </div>
      </li>
    </ul>
  </ng-container>
  <ng-template #noDishes>
    <h2>No dishes</h2>
  </ng-template>

  <ng-container *ngIf="authorizedUser$ | async">
    <button mat-raised-button class="new_cat_btn">Add New Dish</button>
 </ng-container>
</main>
