header {
  height: 180px;
}

h1 {
  text-align: center;
  color: blue;
  margin-bottom: 0;
  cursor: pointer;
}

.btn_wrapper {
  display: flex;
  justify-content: space-between;
}

.log_btn {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  margin:10px 20px;
  width: 130px;
}

.log_btn:hover {
  color: blue;
  transition: all 0.3s;
}

.search{
  margin-right: 20px;
  width: 200px;
}




