h1 {
  text-align: center;
  color: blue;
  margin-bottom: 0;
}

.login_box {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  margin: 0px 0px 10px 20px;
  width: 100px;
}

.login_box:hover {
  color: blue;
  transition: all 0.3s;
}

.login {
  width: 30px;
}
