<main>
  <div class="categories_wrapper">
    <ng-container *ngIf="categories$ | async as categories; else noCategories" class="categories_wrapper">
      <ul *ngIf="categories.length > 0">
        <li *ngFor="let category of categories; trackBy: trackByCategory">
          <a routerLink="/categories/{{category.id}}">
            <img [src]="category.image" [alt]="category.name" />
            <p>{{ category.name }}</p>
          </a>
          <div class="edit_del_btns" *ngIf="authorizedUser$ | async">
            <button mat-raised-button (click)="deleteCategory(category)">Delete</button>
            <button mat-raised-button (click)="openDialogForEdit(category)">Edit</button>
          </div>
        </li>
      </ul>
    </ng-container>
    <ng-template #noCategories>
      <h2>No categories</h2>
    </ng-template>
  </div>

  <ng-container *ngIf="authorizedUser$ | async">
    <button mat-raised-button class="new_cat_btn" (click)="openDialog()">Add New Category</button>
  </ng-container>
  <ng-container *ngIf="foundedDishes$ | async as foundedDishes">
    <app-founded-dishes *ngIf="foundedDishes.length > 0"></app-founded-dishes>
  </ng-container>
</main>