<div class="modal">
  <form action="" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Category name</label>
      <input type="text" id="name" formControlName="name" />
    </div>
    <div>
      <label for="img">Category image</label>
      <input type="text" formControlName="image" id="img" />
    </div>
    <button
      mat-raised-button
      (click)="closeDialog()"
      class="modal_btn"
      type="submit"
      [disabled]="!form.valid">
      Add Category
    </button>
  </form>
</div>
